.custom-slide .slick-slide {
  opacity: 0.5;
  padding: 5px;
}
.custom-slide .slick-current {
  opacity: 1;
}

.slick-slide img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.custom-slide img {
  width: 100%;
  height: 82px;
  object-fit: cover;
  cursor: pointer;
}
